<div class="topHeader">

</div>
<header>
  <div>RESULT OF THE TEST</div>
</header>

<div class="menu">
  <div class="menuItem"
    *ngFor="let each of Icons" [@onOffTrigger] = "each.state" (mouseenter)="toggle(each)" (mouseleave)="toggle1(each)"> 
	   <i class={{each.icon}}></i>
     <div>{{each.name}}</div>
  </div>
</div> 
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="25" class="slider" step="25" [(ngModel)]="selectedRange" (ngModelChange)="setRam($event)">
    <div class="slidecontainerText">
    <span (click)="lessRelevant()">LESS RELEVANT</span>
    <span (click)="Relevant()">RELEVANT</span>
    <span (click)="veryRelevant()">VERY RELEVANT</span>
  </div>
  <div class="tryAgain" (click)="tryAgain()">
      <button >
          TRY AGAIN
        </button>
  </div>
</div>




