/* You can add global styles to this file, and also import other style files */
html,body{
    padding:0px;
    margin:0px;
}


body{
    background-image: url('http://getwallpapers.com/wallpaper/full/d/1/3/514063.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }